<template>
  <v-row>
    <v-col v-if="!$route.params.city && user.is_admin" cols="12">
      <v-dialog v-model="depositDialog" scrollable>
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" v-bind="attrs" v-on="on">
            Добавить приход
          </v-btn>
        </template>
        <v-card>
          <v-card-title>Приходы за {{CURRENT_DATE}}</v-card-title>
          <v-card-text class="py-0">
            <v-timeline dense v-if="arrivals.length > 0">
              <v-slide-x-transition group>
                <v-timeline-item
                  v-for="(arrival, index) in arrivals"
                  :key="index"
                  class="mb-4"
                  color="green"
                  small
                  right
                >
                  <v-row>
                    <v-col cols="12" md="3" lg="2">
                      <strong>{{ arrival.created_at | normalizeDate}}</strong>
                    </v-col>
                    <v-col cols="12" md="3" lg="2">
                      <strong>{{ arrival.value | splitNumber }}</strong>
                      <div class="text-caption">{{ arrival.arrival_type.name }}</div>
                    </v-col>
                    <v-col cols="12" md="5">{{ arrival.description }}</v-col>
                    <v-col cols="12" md="1" v-if="user.is_admin">
                      <v-icon small @click="onEditArrival(arrival)">mdi-pencil</v-icon>
                      <v-icon small @click="onDeleteArrival(arrival)">mdi-delete</v-icon>
                    </v-col>
                  </v-row>
                </v-timeline-item>
              </v-slide-x-transition>
            </v-timeline>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="onCreateArrival">
              Добавить
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-btn color="warning" @click="createItem">
        Добавить расход
      </v-btn>
    </v-col>
    <v-col v-if="!$route.params.city" cols="12" xs="10" md="6" xl="4">
      <v-simple-table dense>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left"></th>
              <th class="text-left"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><v-edit-dialog>
                  Было в остатке: <span v-if="total.open_desc && total.open_desc.length > 0">({{ total.open_desc }})</span>
                  <template v-slot:input v-if="user.is_admin">
                    <v-text-field
                      v-model="total.open_desc"
                      label="Изменить"
                      single-line
                      @change="openTotal()"
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
              </td>
              <td class="text-right" style="position: relative;">
                <v-edit-dialog>
                  <b>{{ (total.rest || 0) | splitNumber }}&nbsp;руб.</b>
                  <template v-slot:input v-if="user.is_admin">
                    <v-text-field
                      v-model="total.rest"
                      label="Изменить"
                      single-line
                      type="number"
                      @change="updateTotal()"
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
                <div class="custom-actions" v-if="user.is_admin">
                  <v-edit-dialog>
                    <v-icon small >mdi-plus</v-icon>
                    <template v-slot:input v-if="user.is_admin">
                      <v-text-field
                        v-model="total.add"
                        label="Изменить"
                        single-line
                        type="number"
                        @change="addTotal()"
                      ></v-text-field>
                    </template>
                  </v-edit-dialog>
                  <v-edit-dialog>
                    <v-icon small >mdi-minus</v-icon>
                    <template v-slot:input v-if="user.is_admin">
                      <v-text-field
                        v-model="total.sub"
                        label="Изменить"
                        single-line
                        type="number"
                        @change="subTotal()"
                      ></v-text-field>
                    </template>
                  </v-edit-dialog>
                </div>
              </td>
            </tr>
            <tr v-for="(arrivalType, index) in arrivalTypes.filter(el => arrivals.filter(e => e.arrival_type_id == el.id).reduce((acc, ell) => acc + parseInt(ell.value), 0) > 0 )" :key="index">
              <td>{{ arrivalType.name }}:</td>
              <td class="text-right"><b>{{ arrivals.filter(el => el.arrival_type_id == arrivalType.id).reduce((acc, el) => acc + parseInt(el.value), 0) | splitNumber }}&nbsp;руб.</b></td>
            </tr>
            <tr v-if="data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ) > 0">
              <td>Возврат:</td>
              <td class="text-right"><b class="green--text text--darken-4">{{ data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ) | splitNumber }}&nbsp;руб.
                </b></td>
            </tr>
            <tr>
              <td>Итого:</td>
              <td class="text-right">
                <b class="green--text text--darken-4">
                  {{
                    parseInt(total.rest || 0) + arrivals.reduce((acc, el) => acc + parseInt(el.value), 0) +
                    data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    )
                      | splitNumber
                  }}&nbsp;руб.
                </b>
              </td>
            </tr>
            <tr class="cursor-pointer" @click="toggleAllExpenses">
              <td>Расход (общий):</td>
              <td class="text-right position-relative">
                <b class="red--text text--darken-4">
                  {{
                    data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ) | splitNumber
                  }}&nbsp;руб.
                </b>
                <div class="table-custom-action" :class="{'active' : isAllExpenses}">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true" class="v-icon__svg"><path d="M7,10L12,15L17,10H7Z"></path></svg>
                </div>
              </td>
            </tr>
            <tr v-if="isAllExpenses">
              <td>Расход (наличка):</td>
              <td class="text-right">
                <b class="red--text text--darken-4">
                  {{
                    data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => el.payment_method.is_cash === 1 && !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ) | splitNumber
                  }}&nbsp;руб.
                </b>
              </td>
            </tr>
            <tr v-if="isAllExpenses">
              <td>Расход (безнал):</td>
              <td class="text-right">
                <b class="red--text text--darken-4">
                  {{
                    data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => el.payment_method.is_cash === 0 && !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ) | splitNumber
                  }}&nbsp;руб.
                </b>
              </td>
            </tr>
            <tr>
              <td><v-edit-dialog>
                  Остаток: <span v-if="total.end_desc && total.end_desc.length > 0">({{ total.end_desc }})</span>
                  <template v-slot:input v-if="user.is_admin">
                    <v-text-field
                      v-model="total.end_desc"
                      label="Изменить"
                      single-line
                      @change="endTotal()"
                    ></v-text-field>
                  </template>
                </v-edit-dialog></td>
              <td class="text-right">
                <b class="green--text text--darken-2">
                  {{
                    parseInt(total.rest || 0) + arrivals.reduce((acc, el) => acc + parseInt(el.value), 0)
                    + data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ) - data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ) | splitNumber
                  }}&nbsp;руб.</b>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-col>
    <v-col cols="12" v-for="(city, index) in data.filter(el => el.expenses.length > 0)" :key="index">
      <v-card>
        <v-card-title>{{ city.name }}</v-card-title>
        <v-card-subtitle>{{ CURRENT_DATE }}</v-card-subtitle>
        <v-card-text>
          <v-data-table
            v-model="expenses[index]"
            show-select
            item-key="id"
            class="elevation-1"
            loading-text="Загрузка... Пожалуйста подождите"
            :headers="computedHeaders"
            :items="city.expenses"
            :item-class="itemRowBackground"
            :loading="loading"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Платежи</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  @click="createItemInCity(city)"
                  v-if="user.is_admin"
                >
                  Добавить расход
                </v-btn>
              </v-toolbar>
            </template>
            <template v-slot:item.partner="{ item }">
              {{ item.partner.name }}
            </template>
            <template v-slot:item.project="{ item }">
              {{ item.project.name }}
            </template>
            <template v-slot:item.payment_type="{ item }">
              {{ item.payment_type.name }}
            </template>
            <template v-slot:item.payment_method="{ item }">
              {{ item.payment_method.name }}
            </template>
            <template v-slot:item.value="{ item }">
              {{ (item.value || 0) | splitNumber }}
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon small @click="returnItem(item)">mdi-arrow-u-right-top-bold</v-icon>
              <v-icon small @click="editItem(item)">mdi-pencil</v-icon>
              <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-row class="align-center">
            <v-col cols="auto">
              <span
                class="mr-2"
                v-if="expenses[index] && expenses[index].length > 0"
                >Выбрано платежек: {{ expenses[index].length }}</span
              >
              <v-btn rounded color="primary" @click="downloadPdf(city)"
                ><v-icon>mdi-download</v-icon>Скачать в pdf</v-btn
              >
              <v-btn
                rounded
                color="primary"
                @click="
                  $copyToClipboard(
                    city.name + '\n' +
                      (
                        expenses[index] && expenses[index].length > 0
                        ? expenses[index].reduce(
                            (acc, el) =>
                              acc + `${el.desc} ${el.partner.name} ${el.project.name} ${el.payment_type.name} ${el.payment_method.name} ${el.value}\n`, '')
                        : city.expenses.reduce(
                            (acc, el) =>
                              acc +
                              `${el.desc} ${el.partner.name} ${el.project.name} ${el.payment_type.name} ${el.payment_method.name} ${el.value}\n`,
                            ''
                          ))
                  )
                "
                ><v-icon>mdi-content-copy</v-icon>Скопировать</v-btn
              >
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="auto" v-if="city.expenses
                      .filter((el) => !!el.payment_type.is_return)
                      .reduce((acc, el) => acc + el.value, 0) > 0">
              <v-subheader class="px-0">Возврат</v-subheader>
              <span class=""
                ><b
                  >{{
                    city.expenses
                      .filter((el) => !!el.payment_type.is_return)
                      .reduce((acc, el) => acc + el.value, 0) | splitNumber
                  }}&nbsp;руб.</b
                ></span
              >
            </v-col>
            <v-col cols="auto">
              <v-subheader class="px-0">Расход (наличка)</v-subheader>
              <span class=""
                ><b
                  >{{
                    city.expenses
                      .filter((el) => el.payment_method.is_cash === 1 && !el.payment_type.is_return)
                      .reduce((acc, el) => acc + el.value, 0) | splitNumber
                  }}&nbsp;руб.</b
                ></span
              >
            </v-col>
            <v-col cols="auto">
              <v-subheader class="px-0">Расход (безнал)</v-subheader>
              <span class="">
                <b
                  >{{
                    city.expenses
                      .filter((el) => el.payment_method.is_cash === 0 && !el.payment_type.is_return)
                      .reduce((acc, el) => acc + el.value, 0) | splitNumber
                  }}&nbsp;руб.</b
                ></span
              >
            </v-col>
            <v-col cols="auto">
              <v-subheader class="px-0">Расход (общий)</v-subheader>
              <span class="red--text text--darken-4"
                ><b>{{
                  city.expenses.filter(el => !el.payment_type.is_return).reduce((calc, el) => calc + el.value, 0)
                    | splitNumber
                }}&nbsp;руб.</b></span
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-dialog v-model="dialog" max-width="80%">
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="6">
              <v-autocomplete
                v-model="editedItem.city_id"
                :items="cities"
                item-text="name"
                item-value="id"
                :readonly="isAddToCity"
                outlined
              ></v-autocomplete>
            </v-col>
            <v-col cols="6">
              <v-autocomplete
                v-model="editedItem.project_id"
                :items="projects"
                item-text="name"
                label="Комплекс"
                item-value="id"
                outlined
              ></v-autocomplete>
            </v-col>
            <v-col cols="6">
              <v-autocomplete
                v-model="editedItem.payment_type_id"
                :items="paymentTypes"
                item-text="name"
                item-value="id"
                label="Вид оплаты"
                outlined
              ></v-autocomplete>
            </v-col>
            <v-col cols="6">
              <v-autocomplete
                v-model="editedItem.payment_method_id"
                :items="paymentMethods"
                item-text="name"
                label="Способ оплаты"
                item-value="id"
                outlined
              ></v-autocomplete>
            </v-col>
            <v-col cols="12">
              <v-autocomplete
                v-model="editedItem.partner_id"
                :items="partners"
                label="Контрагент"
                item-text="name"
                item-value="id"
                outlined
              ></v-autocomplete>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="editedItem.desc"
                label="Название"
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="editedItem.value"
                label="Сумма"
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Отменить</v-btn>
          <v-btn color="blue darken-1" text @click="save">Сохранить</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">
          Вы действительно хотите удалить платеж {{ editedItem.name }}?
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDelete">Нет</v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm">Да</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="arrivalDialog">
      <v-card>
        <v-card-title>Добавить приход</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="6">
              <v-autocomplete
                v-model="editedArrival.arrival_type_id"
                :items="arrivalTypes"
                item-text="name"
                item-value="id"
                outlined
              ></v-autocomplete>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="editedArrival.value"
                label="Значение"
                outlined
                type="number"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                v-model="editedArrival.description"
                outlined
                label="Описание"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeArrival">Отменить</v-btn>
          <v-btn color="blue darken-1" text @click="onSaveArrival">Сохранить</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="arrivalDialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">
          Вы действительно хотите удалить приход {{ editedArrival.name }}?
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeArrivalDelete">Нет</v-btn>
          <v-btn color="blue darken-1" text @click="onDeleteArrivalConfirm">Да</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters } from "vuex";
import { jsPDF } from "jspdf";
import dejavu from "@/fonts/DejaVuSans-normal";

export default {
  name: "IndexPage",
  data() {
    return {

      dialog: false,
      dialogDelete: false,
      depositDialog: false,
      arrivalDialog: false,
      arrivalDialogDelete: false,
      isAddToCity: false,
      isAllExpenses: false,

      editedIndex: -1,
      editedItem: {
        name: "",
      },
      defaultItem: {
        name: "",
      },

      editedArrivalIndex: -1,
      editedArrival: {},
      defaultArrival: {},

      loading: false,
      headers: [
        { text: "Описание", value: "desc", sortable: false },
        { text: "Контрагент", value: "partner", width: '170px', sortable: false },
        { text: "Комплекс", value: "project", width: '170px', sortable: false },
        { text: "Вид оплаты", value: "payment_type", width: '120px', sortable: false },
        { text: "Способ оплаты", value: "payment_method", width: '140px', sortable: false },
        { text: "Сумма", value: "value", width: "125px", align: 'end' },
        { text: "", value: "actions", width: "90px", sortable: false },
      ],
      cities: [],
      projects: [],
      partners: [],
      expenses: [],
      paymentTypes: [],
      paymentMethods: [],
      arrivalTypes: [],
      arrivals: [],
      data: [],
      timeline: [],
      total: {
        add: 0,
        sub: 0,
        open_desc: '',
        end_desc: '',
      },
      search: {
        desc: '',
        projects: [],
        partners: [],
      },
    };
  },
  async mounted() {
    await this.getTotal();
    await this.getItems();
    await this.getCities();
    await this.getProjects();
    await this.getPartners();
    await this.getPaymentMethods();
    await this.getPaymentTypes();
    await this.getArrivalTypes();
    await this.getArrivals();
  },
  computed: {
    ...mapGetters(["TOTAL", "CURRENT_DATE"]),
    formTitle() {
      return this.editedIndex === -1 ? "Создать" : "Редактировать";
    },
    user() {
      return JSON.parse(document.querySelector('body').dataset.user ? document.querySelector('body').dataset.user : '{}')
    },
    computedHeaders () {
      return this.headers.filter(el => {
        if (el.text == '' && !this.user.is_admin) {
          return false;
        }
        return true;
      });  
    }
  },
  watch: {
    $route(to, from) {
      this.getItems();
    },
    async CURRENT_DATE(val) {
      await this.$store.dispatch("FETCH_TOTAL", val);
      await this.getItems();
      await this.getArrivals();
      await this.getTotal();
    },
  },
  methods: {
    toggleAllExpenses() {
      this.isAllExpenses = !this.isAllExpenses;
    },
    downloadPdf(city) {
      const doc = new jsPDF();
      doc.addFileToVFS('Dejavu.ttf', dejavu)
      doc.addFont('Dejavu.ttf', 'Dejavu', 'normal')
      doc.setFont('Dejavu')
      doc.setFontSize(10);
      doc.setLineHeightFactor(1.4);
      const pageHeight = doc.internal.pageSize.height;
      doc.text(`${city.name}`, 10, 10);
      doc.text(`${this.CURRENT_DATE}`, 10, 20);
      let i = 3;
      let j = 0;
      for (const expense of city.expenses) {
        //const splitText = doc.splitTextToSize(`Описание:\u00A0${expense.desc} | Партнер:\u00A0${expense.partner.name} | Комплекс:\u00A0${expense.project.name} | Тип оплаты:\u00A0${expense.payment_type.name} | Метод оплаты:\u00A0${expense.payment_method.name} | Сумма:\u00A0${this.$options.filters.splitNumber(expense.value)} руб.`, 180);
        const splitText = doc.splitTextToSize(`${expense.desc}`, 180);
        doc.text(splitText, 10, i*10);
        const count = splitText.length > 1 ? splitText.length / 2 : 1
        if (j != city.expenses.length - 1) {
          doc.line(10, (i+count)*10 - 3.5, 200, (i+count)*10 - 3.5);
        }
        i += count;
        if(i > pageHeight/10) {
          doc.addPage();
          i = 1;
        }
        j++;
      }
      i++
      if(i > (pageHeight-10)/10) {
        doc.addPage();
        i = 1;
      }
      i = Math.ceil(i);
      doc.text(`Расход (наличка)` ,10, i*10);
      doc.text(`Расход (безнал)` ,60, i*10);
      doc.text(`Расход (общий)` ,110, i*10);
      if (city.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0) > 0) {
        doc.text(`Возврат` ,160, i*10);
      }
      i++;
      doc.text(`${this.$options.filters.splitNumber(city.expenses.filter(el => !el.payment_type.is_return).filter((el) => el.payment_method.is_cash === 1).reduce((acc, el) => acc + el.value, 0))} руб.`, 10, i*10);
      doc.text(`${this.$options.filters.splitNumber(city.expenses.filter(el => !el.payment_type.is_return).filter((el) => el.payment_method.is_cash === 0).reduce((acc, el) => acc + el.value, 0))} руб.`, 60, i*10);
      doc.text(`${this.$options.filters.splitNumber(city.expenses.reduce((acc, el) => acc + el.value, 0))} руб.`, 110, i*10);
      if (city.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0) > 0) {
        doc.text(`${this.$options.filters.splitNumber(city.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0))} руб.`, 160, i*10);
      }
      i++;
      doc.save(`${city.name}_${this.CURRENT_DATE}.pdf`);
    },

    itemRowBackground (item) {
      return !!item.payment_type.is_return ? 'green lighten-5' : '';
    },

    async addArrival() {
      await this.createArrival(this.editedArrival);
      this.arrivalDialog = false;
      await this.getArrivals();
    },

    onCreateArrival() {
      this.editedArrival = Object.assign({}, this.defaultArrival);
      this.arrivalDialog = true;
    },

    onEditArrival(arrival) {
      this.editedArrivalIndex = arrival.id;
      this.editedArrival = Object.assign({}, arrival);
      this.arrivalDialog = true;
    },

    onDeleteArrival(arrival) {
      this.editedArrivalIndex = arrival.id;
      this.editedArrival = arrival;
      this.arrivalDialogDelete = true;
    },

    closeArrival() {
      this.arrivalDialog = false;
      this.$nextTick(() => {
        this.editedArrival = Object.assign({}, this.defaultArrival);
        this.editedArrivalIndex = -1;
      });
    },

    async onDeleteArrivalConfirm()
    {
      await this.deleteArrival(this.editedArrival);
      await this.getArrivals();
      this.closeArrivalDelete()
    },

    async onSaveArrival() {
      if (this.editedArrivalIndex > -1) {
        await this.editArrival(this.editedArrival);
      } else {
        await this.createArrival(this.editedArrival);
      }
      await this.getArrivals();
      this.closeArrival();
    },

    closeArrivalDelete() {
      this.arrivalDialogDelete = false;
      this.$nextTick(() => {
        this.editedArrival = Object.assign({}, this.defaultArrival);
        this.editedArrivalIndex = -1;
      });
    },

    createItem() {
      this.isAddToCity = false;
      this.editedItem = Object.assign({}, this.defaultItem);
      this.dialog = true;
    },

    createItemInCity(city) {
      this.isAddToCity = true;
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedItem.city_id = city.id;
      this.dialog = true;
    },

    editItem(item) {
      this.isAddToCity = false;

      this.editedIndex = item.id;
      this.editedItem = Object.assign({}, item);

      this.dialog = true;
    },

    returnItem(item) {
      this.isAddToCity = false;

      this.editedItem = Object.assign({}, item);
      this.editedItem.payment_type = this.paymentTypes.filter(el => !!el.is_return)[0];
      this.editedItem.payment_type_id = this.editedItem.payment_type.id;
      delete this.editedItem.id;
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      this.isAddToCity = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    deleteItem(item) {
      this.editedIndex = item.id;
      this.editedItem = item;
      this.dialogDelete = true;
    },

    async deleteItemConfirm() {
      await this.deleteExpense(this.editedItem);
      await this.getItems();
      this.closeDelete();
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
      if (this.editedIndex > -1) {
        await this.editExpense(this.editedItem);
      } else {
        await this.createExpense(this.editedItem);
      }
      await this.getItems();
      this.close();
    },

    // api
    async getItems() {
      const res = await axios.get(`/api/search?date=${this.CURRENT_DATE}${this.$route.params.city ? `&city=${this.$route.params.city}` : ''}`);
      this.data = res.data;
    },
    async getCities() {
      const res = await axios.get(`/api/cities`);
      this.cities = res.data.data;
    },
    async getProjects() {
      const res = await axios.get(`/api/projects`);
      this.projects = res.data.data;
    },
    async getPartners() {
      const res = await axios.get(`/api/partners`);
      this.partners = res.data.data;
    },
    async getPaymentMethods() {
      const res = await axios.get(`/api/payment-methods`);
      this.paymentMethods = res.data.data;
    },
    async getPaymentTypes() {
      const res = await axios.get(`/api/payment-types`);
      this.paymentTypes = res.data.data;
    },
    async getArrivalTypes() {
      const res = await axios.get(`/api/arrival-types`);
      this.arrivalTypes = res.data.data;
    },
    async getArrivals() {
      const res = await axios.get(`/api/arrivals?date=${this.$store.getters.CURRENT_DATE}`);
      this.arrivals = res.data.data;
    },
    async createExpense(item) {
      await axios.post(`/api/expenses?date=${this.CURRENT_DATE}`, item);
    },
    async editExpense(item) {
      await axios.put(`/api/expenses/${item.id}`, item);
    },
    async deleteExpense(item) {
      await axios.delete(`/api/expenses/${item.id}`);
    },
    async createArrival(item) {
      await axios.post(`/api/arrivals?date=${this.CURRENT_DATE}`, item);
    },
    async editArrival(item) {
      await axios.put(`/api/arrivals/${item.id}`, item);
    },
    async deleteArrival(item) {
      await axios.delete(`/api/arrivals/${item.id}`);
    },
    async getTotal() {
      const res = await axios.get(`/api/total?date=${this.CURRENT_DATE}`);
      this.total = res.data;
    },
    async updateTotal() {
      const res = await axios.post(`/api/total?date=${this.CURRENT_DATE}`, {
        rest: this.total.rest
      });
      this.total = res.data;
    },
    async addTotal(value) {
      const res = await axios.post(`/api/add-total?date=${this.CURRENT_DATE}`, {
        rest: this.total.add
      });
      this.total = res.data;
    },
    async subTotal() {
      const res = await axios.post(`/api/sub-total?date=${this.CURRENT_DATE}`, {
        rest: this.total.sub
      });
      this.total = res.data;
    },
    async openTotal() {
      const res = await axios.post(`/api/open-total-desc?date=${this.CURRENT_DATE}`, {
        open_desc: this.total.open_desc
      });
      this.total = res.data;
    },
    async endTotal() {
      const res = await axios.post(`/api/end-total-desc?date=${this.CURRENT_DATE}`, {
        end_desc: this.total.end_desc
      });
      this.total = res.data;

    },
  },
};
</script>
<style scoped>
.custom-actions {
    position: absolute;
    display: flex;
    right: 18px;
    top: 50%;
    transform: translateY(calc(-27px - 50%));
}
.cursor-pointer {
  cursor: pointer;
}
.table-custom-action {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: 7px 6px;
}
.table-custom-action svg {
  width: 15px;
}
.table-custom-action.active{
  transform: rotate(180deg);
}
.position-relative {
  position: relative;
}
</style>