<template>
  <v-row class="my-auto" align="center" justify="center">
    <v-col cols="12" xs="8" sm="8" md="6" lg="4">
      <v-card>
        <v-card-title>Авторизация</v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" @submit.prevent="submit">
          <v-text-field label="Логин" outlined v-model="login" :rules="[rules.required]"></v-text-field>
          <v-text-field label="Пароль" outlined v-model="password" :rules="[rules.required]" type="password"></v-text-field>
          <v-alert
            color="pink darken-1"
            dark
            v-if="wrongAuth"
          >Неверный логин или пароль</v-alert>
          <v-btn rounded color="primary" type="submit" :disabled="!valid">Войти</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  layout: 'noauth',
  name: "Login",
  methods: {
    async submit() {
      if (this.$refs.form.validate()) {
        this.wrongAuth = false;
        try {
          await axios.post(`/login`, {
            email: this.login,
            password: this.password,
          }, { withCredentials: true });
          location.href = "/expenses";
        } catch (error) {
          this.wrongAuth = true;
        }
      }
    }
  },
  data() {
    return {
      login: '',
      password: '',
      wrongAuth: false,
      valid: false,
      rules: {
        required: val => !!val || 'Обязательно для заполнения'
      }
    }
  }
};
</script>

<style scoped>
header.v-app-bar {
  display: none;
}
</style>
