<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :options.sync="options"
    :server-items-length="total"
    :loading="loading"
    loading-text="Загрузка... Пожалуйста подождите"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Способ оплаты</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Добавить
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-row>
                <v-col cols="12">
                  <v-switch
                    v-model="editedItem.is_cash"
                    label="Наличка"
                  ></v-switch>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="editedItem.name"
                    label="Название"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">
                Отменить
              </v-btn>
              <v-btn color="blue darken-1" text @click="save">
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Вы действительно хотите удалить способ оплаты
              {{ editedItem.name }}?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Нет</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >Да</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
    </template>
    <template v-slot:no-data> Ничего не найдено </template>
  </v-data-table>
</template>

<script>
export default {
  name: "PaymentMethodPage",
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      total: 0,
      loading: true,
      options: {},
      headers: [
        { text: "Название", value: "name" },
        { text: "", value: "actions", sortable: false, width: "77px" },
      ],
      items: [],
      editedIndex: -1,
      editedItem: {
        name: "",
      },
      defaultItem: {
        name: "",
      },
    };
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Создать" : "Редактировать";
    },
  },

  watch: {
    options: {
      handler() {
        this.getPaymentMethods();
      },
      deep: true,
    },
  },

  methods: {
    async getPaymentMethods() {
      this.loading = true;
      const res = await axios.get(
        `/api/payment-methods?perPage=${this.options.itemsPerPage}&page=${this.options.page}`
      );
      this.items = res.data.data;
      this.total = res.data.total;
      this.loading = false;
    },
    async createPaymentMethod(item) {
      await axios.post(`/api/payment-methods`, item);
    },
    async editPaymentMethod(item) {
      await axios.put(
        `/api/payment-methods/${item.id}`,
        item
      );
    },
    async deletePaymentMethod(item) {
      await axios.delete(
        `/api/payment-methods/${item.id}`
      );
    },

    editItem(item) {
      this.editedIndex = item.id;
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    deleteItem(item) {
      this.editedIndex = item.id;
      this.editedItem = item;
      this.dialogDelete = true;
    },

    async deleteItemConfirm() {
      await this.deletePaymentMethod(this.editedItem);
      await this.getPaymentMethods();
      this.closeDelete();
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
      if (this.editedIndex > -1) {
        await this.editPaymentMethod(this.editedItem);
      } else {
        await this.createPaymentMethod(this.editedItem);
      }
      await this.getPaymentMethods();
      this.close();
    },
  },
};
</script>