<template>
  <v-row>
    <v-col cols="12">
      <v-row>
        <v-col cols="12" lg="6">
          <v-text-field
            label="Поиск"
            placeholder="Введите описание, сумму"
            prepend-inner-icon="mdi-magnify"
            outlined
            rounded
            clearable
            hide-details
            v-model="search.desc"
            @input="onSearch"
          ></v-text-field
        ></v-col>
        <v-col cols="12" lg="3">
          <v-autocomplete
            v-model="search.cities"
            multiple
            outlined
            rounded
            hide-details
            label="Проекты"
            clearable
            :items="cities"
            :item-text="`name`"
            :item-value="`id`"
            :prefix="search.cities.length > 0 ? `Выбрано: ${search.cities.length}` : ''"
            @change="onSearch"
          >
            <template v-slot:selection="">
            </template>
          </v-autocomplete>
        </v-col>
        <v-col cols="12" lg="3">
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="search.dates"
            transition="scale-transition"
            offset-y
            bottom
            left
            min-width="auto"
            @input="onSearch"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="normalizeDates"
                prepend-inner-icon="mdi-calendar"
                outlined
                rounded
                placeholder="Дата"
                readonly
                hide-details
                v-bind="attrs"
                v-on="on"
              >
              </v-text-field>
            </template>
            <v-date-picker
              locale="ru-RU"
              v-model="search.dates"
              no-title
              scrollable
              range
              :type="pickerType"
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false"
                >Отменить</v-btn
              >
              <v-btn text color="primary" @click="$refs.menu.save(search.dates)"
                >Сохранить</v-btn
              >
            </v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" lg="3">
          <v-autocomplete
            v-model="search.projects"
            multiple
            outlined
            rounded
            hide-details
            label="Комплексы"
            :items="projects"
            :item-text="`name`"
            :item-value="`id`"
            :prefix="search.projects.length > 0 ? `Выбрано: ${search.projects.length}` : ''"
            @change="onSearch"
          >
            <template v-slot:selection="">
            </template>
          </v-autocomplete>
        </v-col>
        <v-col cols="12" lg="3">
          <v-autocomplete
            v-model="search.partners"
            multiple
            outlined
            rounded
            clearable
            hide-details
            label="Контрагенты"
            :items="partners"
            :item-text="`name`"
            :item-value="`id`"
            :prefix="search.partners.length > 0 ? `Выбрано: ${search.partners.length}` : ''"
            @change="onSearch"
          >
            <template v-slot:selection="">
            </template>
          </v-autocomplete>
        </v-col>
        <v-col cols="12" lg="3">
          <v-autocomplete
            v-model="search.paymentTypes"
            multiple
            outlined
            rounded
            clearable
            hide-details
            label="Виды оплаты"
            :items="paymentTypes"
            :item-text="`name`"
            :item-value="`id`"
            :prefix="search.paymentTypes.length > 0 ? `Выбрано: ${search.paymentTypes.length}` : ''"
            @change="onSearch"
          >
            <template v-slot:selection="">
            </template>
          </v-autocomplete>
        </v-col>
        <v-col cols="12" lg="3">
          <v-autocomplete
            v-model="search.paymentMethods"
            multiple
            outlined
            rounded
            clearable
            hide-details
            label="Методы оплаты"
            :items="paymentMethods"
            :item-text="`name`"
            :item-value="`id`"
            :prefix="search.paymentMethods.length > 0 ? `Выбрано: ${search.paymentMethods.length}` : ''"
            @change="onSearch"
          >
            <template v-slot:selection="">
            </template>
          </v-autocomplete>
        </v-col>
      </v-row>
    </v-col>
    <v-col>
      <v-card>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="items"
            :options.sync="options"
            :server-items-length="total"
            :loading="loading"
            loading-text="Загрузка... Пожалуйста подождите"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Платежи</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                  <!-- <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                    >
                      Добавить
                    </v-btn>
                  </template> -->
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                      <v-row>
                        <v-col cols="6">
                          <v-autocomplete
                            v-model="editedItem.city_id"
                            :items="cities"
                            item-text="name"
                            item-value="id"
                            outlined
                          ></v-autocomplete>
                        </v-col>
                        <v-col cols="6">
                          <v-autocomplete
                            v-model="editedItem.project_id"
                            :items="projects"
                            item-text="name"
                            label="Комплекс"
                            item-value="id"
                            outlined
                          ></v-autocomplete>
                        </v-col>
                        <v-col cols="6">
                          <v-autocomplete
                            v-model="editedItem.payment_type_id"
                            :items="paymentTypes"
                            item-text="name"
                            item-value="id"
                            label="Вид оплаты"
                            outlined
                          ></v-autocomplete>
                        </v-col>
                        <v-col cols="6">
                          <v-autocomplete
                            v-model="editedItem.payment_method_id"
                            :items="paymentMethods"
                            item-text="name"
                            label="Способ оплаты"
                            item-value="id"
                            outlined
                          ></v-autocomplete>
                        </v-col>
                        <v-col cols="12">
                          <v-autocomplete
                            v-model="editedItem.partner_id"
                            :items="partners"
                            label="Контрагент"
                            item-text="name"
                            item-value="id"
                            outlined
                          ></v-autocomplete>
                        </v-col>
                        <v-col cols="12">
                          <v-text-field
                            v-model="editedItem.desc"
                            label="Название"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-text-field
                            v-model="editedItem.value"
                            label="Сумма"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Отменить
                      </v-btn>
                      <v-btn color="blue darken-1" text @click="save">
                        Сохранить
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h5"
                      >Вы действительно хотите удалить платеж {{editedItem.desc }}?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete"
                        >Нет</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                        >Да</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.created_at="{ item }">
              {{ moment(item.created_at).format('DD-MM-YYYY hh:mm') }}
            </template>
            <template v-slot:item.city="{ item }">
              {{ item.city.name }}
            </template>
            <template v-slot:item.partner="{ item }">
              {{ item.partner.name }}
            </template>
            <template v-slot:item.project="{ item }">
              {{ item.project.name }}
            </template>
            <template v-slot:item.payment_type="{ item }">
              {{ item.payment_type.name }}
            </template>
            <template v-slot:item.payment_method="{ item }">
              {{ item.payment_method.name }}
            </template>
            <template v-slot:item.value="{ item }">
              {{ (item.value || 0) | splitNumber }}
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-0" @click="editItem(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
            </template>
            <template v-slot:no-data>
              Ничего не найдено
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-row class="align-center">
            <v-col cols="auto">
              <v-btn v-if="items.length > 0" rounded color="primary" @click="downloadPdf()"
                ><v-icon>mdi-download</v-icon>Скачать в pdf</v-btn
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import moment from "moment";
import { jsPDF } from "jspdf";
import dejavu from "@/fonts/DejaVuSans-normal";

export default {
  name: "ExpensePage",
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      total: 0,
      loading: true,
      options: {},
      headers: [
        { text: "Создана", value: "created_at", width: '170px', sortable: false },
        { text: "Проект", value: "city", sortable: false },
        { text: "Описание", value: "desc", sortable: false },
        { text: "Контрагент", value: "partner", sortable: false },
        { text: "Комплекс", value: "project", sortable: false },
        { text: "Вид оплаты", value: "payment_type", sortable: false },
        { text: "Способ оплаты", value: "payment_method", sortable: false },
        { text: "Сумма", value: "value", width: "125px", align: 'end' },
        { text: "", value: "actions", width: '69px', sortable: false },
      ],
      items: [],
      editedIndex: -1,
      editedItem: {
        desc: "",
      },
      defaultItem: {
        desc: "",
      },
      search: {
        desc: '',
        dates: [new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
          .toISOString()
          .substr(0, 10),],
        projects: [],
        cities: [],
        partners: [],
        paymentTypes: [],
        paymentMethods: [],
      },
      cities: [],
      projects: [],
      partners: [],
      expenses: [],
      paymentTypes: [],
      paymentMethods: [],
      menu: false,
      dates: [],
      pickerType: 'date',
    };
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Создать" : "Редактировать";
    },
    normalizeDates () {
      if (this.search.dates.length == 1) {
        return [moment(this.search.dates[0]).format('DD-MM-YYYY')];
      }
      if (this.search.dates.length == 2) {
        return [
          moment(this.search.dates[0]).format('DD-MM-YYYY'), 
          moment(this.search.dates[1]).format('DD-MM-YYYY')
        ].sort();
      }
      return [];
    }
  },

  watch: {
    options: {
      handler() {
        this.getExpenses();
      },
      deep: true,
    },
  },
  async mounted() {
    await this.getCities();
    await this.getProjects();
    await this.getPartners();
    await this.getPaymentMethods();
    await this.getPaymentTypes();
  },
  methods: {
    async downloadPdf() {
      const res = await axios.get(
        `/api/expenses?
        perPage=1000000000&
        page=1&
        with[]=city&
        with[]=project&
        with[]=partner&
        with[]=paymentType&
        with[]=paymentMethod&
        desc=${this.search.desc}&
        ${this.search.dates.sort().reduce(
          (acc, el) => acc + `date[]=${el}&`,
          ""
        )}
        ${this.search.cities.reduce((acc, el) => acc + '&cities[]=' + el, '')}
        ${this.search.projects.reduce((acc, el) => acc + '&projects[]=' + el, '')}
        ${this.search.partners.reduce((acc, el) => acc + '&partners[]=' + el, '')}
        ${this.search.paymentTypes.reduce((acc, el) => acc + '&payment_types[]=' + el, '')}
        ${this.search.paymentMethods.reduce((acc, el) => acc + '&payment_methods[]=' + el, '')}
      `);
      const data  = res.data;

      const doc = new jsPDF();
      doc.addFileToVFS('Dejavu.ttf', dejavu)
      doc.addFont('Dejavu.ttf', 'Dejavu', 'normal')
      doc.setFont('Dejavu')
      doc.setFontSize(10);
      doc.setLineHeightFactor(1.4);
      const pageHeight = doc.internal.pageSize.height;
      let i = 1;

      const groupByDate = data.data.reduce((group, item) => {
        const { created_at } = item;
        group[created_at] = group[created_at] ?? [];
        group[created_at].push(item);
        return group;
      }, {});
      let startDocDate = true;
      for(const [date, values] of Object.entries(groupByDate)) {
        // if (!startDocDate) {
        //   doc.addPage();
        //   i = 1;
        // }
        // startDocDate = false;
        if(i > pageHeight/10) {
          doc.addPage();
          i = 1;
        }
        if(i > pageHeight/10) {
          doc.addPage();
          i = 1;
        }
        doc.text(`${moment(date).format("DD-MM-YYYY")}`, 10, i*10);
        i++;
        const groupByCity = values.reduce((group, item) => {
          const { name } = item.city;
          group[name] = group[name] ?? [];
          group[name].push(item);
          return group;
        }, {});
        for (const [city, values] of Object.entries(groupByCity)) {
          if(i > pageHeight/10) {
            doc.addPage();
            i = 1;
          }
          doc.text(`${city}`, 10, i*10);
          i++;

          let j = 0;
          for (const expense of values) {
            const splitText = doc.splitTextToSize(`${expense.desc}`, 180);
            if((i + splitText.length) > pageHeight/10) {
              doc.addPage();
              i = 1;
            }
            doc.text(splitText, 10, i*10);
            const count = splitText.length > 1 ? splitText.length / 2 : 1;
            if (j != values.length - 1) {
              doc.line(10, (i+count)*10 - 3.5, 200, (i+count)*10 - 3.5);
            }
            i += count;
            j++;
          }
          i += 0.5;
          if(i > (pageHeight-20)/10) {
            doc.addPage();
            i = 1;
          }
          doc.text(`Расход (наличка)`, 10, i*10);
          doc.text(`Расход (безнал)`, 60, i*10);
          doc.text(`Расход (общий)`, 110, i*10);
          if (values.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0) > 0) {
            doc.text(`Возврат` ,160, i*10);
          }
          i += 0.7;
          doc.text(`${this.$options.filters.splitNumber(values.filter((el) => el.payment_method.is_cash === 1).filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0))} руб.`, 10, i*10);
          doc.text(`${this.$options.filters.splitNumber(values.filter((el) => el.payment_method.is_cash === 0).filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0))} руб.`, 60, i*10);
          doc.text(`${this.$options.filters.splitNumber(values.filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0))} руб.`, 110, i*10);
          if (values.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0) > 0) {
            doc.text(`${this.$options.filters.splitNumber(values.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0))} руб.`, 160, i*10);
          }
          i++;
          if(i > pageHeight/10) {
            doc.addPage();
            i = 1;
          }
          doc.line(10, i*10 - 3.5, 200, i*10 - 3.5);
          i++;
        }
      }
      doc.save(`search.pdf`);
    },
    moment (value) {
      return moment(value);
    },
    async getCities() {
      const res = await axios.get(`/api/cities`);
      this.cities = res.data.data;
    },
    async getProjects() {
      const res = await axios.get(`/api/projects`);
      this.projects = res.data.data;
    },
    async getPartners() {
      const res = await axios.get(`/api/partners`);
      this.partners = res.data.data;
    },
    async getPaymentMethods() {
      const res = await axios.get(`/api/payment-methods`);
      this.paymentMethods = res.data.data;
    },
    async getPaymentTypes() {
      const res = await axios.get(`/api/payment-types`);
      this.paymentTypes = res.data.data;
    },
    async onSearch() {
      this.loading = true;
      const res = await axios.get(
        `/api/expenses?
        perPage=${this.options.itemsPerPage}&
        page=${this.options.page}&
        with[]=city&
        with[]=project&
        with[]=partner&
        with[]=paymentType&
        with[]=paymentMethod&
        desc=${this.search.desc}&
        ${this.search.dates.sort().reduce(
          (acc, el) => acc + `date[]=${el}&`,
          ""
        )}
        ${this.search.cities.reduce((acc, el) => acc + '&cities[]=' + el, '')}
        ${this.search.projects.reduce((acc, el) => acc + '&projects[]=' + el, '')}
        ${this.search.partners.reduce((acc, el) => acc + '&partners[]=' + el, '')}
        ${this.search.paymentTypes.reduce((acc, el) => acc + '&payment_types[]=' + el, '')}
        ${this.search.paymentMethods.reduce((acc, el) => acc + '&payment_methods[]=' + el, '')}
      `);
      this.items = res.data.data;
      this.total = res.data.total;
      this.loading = false;
    },
    async getExpenses() {
      this.loading = true;
      const res = await axios.get(
        `/api/expenses?
        perPage=${this.options.itemsPerPage}&
        page=${this.options.page}&
        with[]=city&
        with[]=project&
        with[]=partner&
        with[]=paymentType&
        with[]=paymentMethod&
        desc=${this.search.desc}&
        ${this.search.dates.sort().reduce(
          (acc, el) => acc + `date[]=${el}&`,
          ""
        )}
        ${this.search.cities.reduce((acc, el) => acc + '&cities[]=' + el, '')}
        ${this.search.projects.reduce((acc, el) => acc + '&projects[]=' + el, '')}
        ${this.search.partners.reduce((acc, el) => acc + '&partners[]=' + el, '')}
        ${this.search.paymentTypes.reduce((acc, el) => acc + '&payment_types[]=' + el, '')}
        ${this.search.paymentMethods.reduce((acc, el) => acc + '&payment_methods[]=' + el, '')}
      `);
      this.items = res.data.data;
      this.total = res.data.total;
      this.loading = false;
    },
    async createExpense(item) {
      await axios.post(`/api/expenses`, item);
    },
    async editExpense(item) {
      await axios.put(`/api/expenses/${item.id}`, item);
    },
    async deleteExpense(item) {
      await axios.delete(`/api/expenses/${item.id}`);
    },

    editItem(item) {
      this.editedIndex = item.id
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },


    deleteItem(item) {
      this.editedIndex = item.id
      this.editedItem = item;
      this.dialogDelete = true
    },

    async deleteItemConfirm() {
      await this.deleteExpense(this.editedItem);
      await this.getExpenses();
      this.closeDelete();
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
        if (this.editedIndex > -1) {
          await this.editExpense(this.editedItem);
        } else {
          await this.createExpense(this.editedItem);
        }
      await this.getExpenses();
      this.close();
    },
  },
};
</script>