<template>
  <v-app>
    <v-app-bar fixed :height="96" app v-if="!$route.meta.hideNavbar">
      <div class="custom-app-nav">
        <div class="custom-app-nav__avatar">
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-avatar v-bind="attrs" v-on="on" color="primary" class="mr-2"
                >{{ user.name.split(' ')[0][0] }}{{ user.name.split(' ').length > 1 ? user.name.split(' ')[1][0] : '' }}</v-avatar
              >
            </template>
            <v-list>
              <v-list-item link @click="logout">
                <v-list-item-title>Выйти</v-list-item-title>
              </v-list-item>
              <v-list-item v-if="user.is_admin" link :to="{ name: 'cities' }">
                <v-list-item-title>Проекты</v-list-item-title>
              </v-list-item>
              <v-list-item v-if="user.is_admin" link :to="{ name: 'projects' }">
                <v-list-item-title>Комплексы</v-list-item-title>
              </v-list-item>
              <v-list-item v-if="user.is_admin" link :to="{ name: 'partners' }">
                <v-list-item-title>Партнеры</v-list-item-title>
              </v-list-item>
              <v-list-item v-if="user.is_admin" link :to="{ name: 'paymentMethods' }">
                <v-list-item-title>Методы оплаты</v-list-item-title>
              </v-list-item>
              <v-list-item v-if="user.is_admin" link :to="{ name: 'paymentTypes' }">
                <v-list-item-title>Виды оплаты</v-list-item-title>
              </v-list-item>
              <v-list-item v-if="user.is_admin" link :to="{ name: 'arrivalTypes' }">
                <v-list-item-title>Виды приходов</v-list-item-title>
              </v-list-item>
              <v-list-item v-if="user.is_admin" link :to="{ name: 'users' }">
                <v-list-item-title>Юзеры</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
        <div class="custom-app-nav__tabs">
          <v-tabs
            show-arrows
            background-color="transparent"
            v-model="selectedTab"
          >
            <v-tab link :to="{ name: 'expenses' }">Все расходы</v-tab>
            <v-tab
              v-for="(item, index) in items"
              :key="index"
              :to="{ name: 'expenses', params: { city: item.id } }"
            >
              {{ item.name }}
            </v-tab>
          </v-tabs>
        </div>
        <div class="custom-app-nav__date d-flex align-center flex-wrap">
          <v-btn icon color="primary" @click="$router.push({ name: 'search' })">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="date"
            transition="scale-transition"
            bottom
            left
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                class="bc-transparent"
                style="width: 150px"
                v-model="normalizeDate"
                prepend-inner-icon="mdi-calendar"
                outlined
                persistent-hint
                dense
                flat
                background-color="transparent"
                color="#033"
                readonly
                hide-details
                v-bind="attrs"
                v-on="on"
              >
              </v-text-field>
            </template>
            <v-date-picker
              locale="ru-RU"
              v-model="date"
              no-title
              scrollable
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">Отменить</v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(date)">Сохранить</v-btn>
            </v-date-picker>
          </v-menu>
          <v-btn rounded color="primary" @click="downloadPdf"><v-icon>mdi-download</v-icon>Скачать в pdf</v-btn>
        </div>
      </div>
    </v-app-bar>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";
import { jsPDF } from "jspdf";
import dejavu from "@/fonts/DejaVuSans-normal";

export default {
  name: "default",
  data() {
    return {
      date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000).toISOString().substr(0, 10),
      menu: false,
      items: [],
      selectedTab: null,
    };
  },
  computed: {
    ...mapGetters(["CURRENT_DATE"]),
    user() {
      return JSON.parse(
        document.querySelector("body").dataset.user
          ? document.querySelector("body").dataset.user
          : "{}"
      );
    },
    normalizeDate() {
      return moment(this.date).format("DD-MM-YYYY");
    },
  },
  watch: {
    date(val) {
      this.$store.dispatch("UPDATE_CURRENT_DATE", val);
    },
  },
  mounted() {
    if (!this.$route.meta.hideNavbar) {
      this.getCities();
    }
    this.$store.dispatch("UPDATE_CURRENT_DATE", this.date);
  },
  methods: {
    async downloadPdf() {
      const res = await axios.get(`/api/search?date=${this.CURRENT_DATE}`);
      const {data: total} = await axios.get(`/api/total?date=${this.CURRENT_DATE}`);
      const {data: arrivals} = await axios.get(`/api/arrivals?date=${this.CURRENT_DATE}`);
      const {data: arrivalTypes} = await axios.get(`/api/arrival-types`);
      const data  = res.data;
      const doc = new jsPDF();
      doc.addFileToVFS('Dejavu.ttf', dejavu)
      doc.addFont('Dejavu.ttf', 'Dejavu', 'normal')
      doc.setFont('Dejavu')
      doc.setFontSize(10);
      doc.setLineHeightFactor(1.4);
      const pageHeight = doc.internal.pageSize.height;
      let i = 1;
      doc.text(`${this.CURRENT_DATE}`, 10, i*10);
      i++;
      doc.text(`Было в остатке: ${this.$options.filters.splitNumber(total.rest)} руб.`, 10, i*10);
      i++;
      for (const arrivalType of arrivalTypes.data.filter(el => arrivals.data.filter(e => e.arrival_type_id == el.id).reduce((acc, ell) => acc + parseInt(ell.value), 0) > 0 )) {
        doc.text(`${arrivalType.name}: ${this.$options.filters.splitNumber(arrivals.data.filter(el => el.arrival_type_id == arrivalType.id).reduce((acc, el) => acc + parseInt(el.value), 0))} руб.`, 10, i*10);
        i++;
      }
      if (data.reduce((acc, el) => acc + el.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),0) > 0) {
        doc.text(`Возврат: ${this.$options.filters.splitNumber(data.reduce((acc, el) => acc + el.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0), 0))} руб.`, 10, i*10);
        i++;
      }
      doc.text(`Итог: ${this.$options.filters.splitNumber(parseInt(total.rest || 0) + arrivals.data.reduce((acc, el) => acc + parseInt(el.value), 0) +
      data.reduce(
        (acc, el) =>
          acc +
          el.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
        0
      ))} руб.`, 10, i*10);
      i++;
      doc.text(`Расход: ${this.$options.filters.splitNumber(data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ))} руб.`, 10, i*10);
      i++;
      doc.text(`Остаток: ${this.$options.filters.splitNumber(parseInt(total.rest || 0) + arrivals.data.reduce((acc, el) => acc + parseInt(el.value), 0)
                    + data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ) - data.reduce(
                      (acc, el) =>
                        acc +
                        el.expenses.filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0),
                      0
                    ))} руб.`, 10, i*10);
      i++;
      for (const city of data.filter(el => el.expenses.length > 0)) {
        doc.text(`${city.name}`, 10, i*10);
        i++;
        if(i > pageHeight/10) {
          doc.addPage();
          i = 1;
        }
        let j = 0;
        for (const expense of city.expenses) {
          if(i > (pageHeight-20)/10) {
            doc.addPage();
            i = 1;
          }
          //const splitText = doc.splitTextToSize(`Описание:\u00A0${expense.desc} | Партнер:\u00A0${expense.partner.name} | Комплекс:\u00A0${expense.project.name} | Тип оплаты:\u00A0${expense.payment_type.name} | Метод оплаты:\u00A0${expense.payment_method.name} | Сумма:\u00A0${this.$options.filters.splitNumber(expense.value)} руб.`, 180);
          const splitText = doc.splitTextToSize(`${expense.desc}`, 180);
          doc.text(splitText, 10, i*10);
          const count = splitText.length > 1 ? splitText.length / 2 : 1
          if (j != city.expenses.length - 1) {
            doc.line(10, (i+count)*10 - 3.5, 200, (i+count)*10 - 3.5);
          }
          i += count;
          if(i > pageHeight/10) {
            doc.addPage();
            i = 1;
          }
          j++;
        }
        i += 0.5;
        if(i > (pageHeight-20)/10) {
          doc.addPage();
          i = 1;
        }
        doc.text(`Расход (наличка)`, 10, i*10);
        doc.text(`Расход (безнал)`, 60, i*10);
        doc.text(`Расход (общий)`, 110, i*10);
        if (city.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0) > 0) {
          doc.text(`Возврат` ,160, i*10);
        }
        i += 0.7;
        doc.text(`${this.$options.filters.splitNumber(city.expenses.filter((el) => el.payment_method.is_cash === 1).filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0))} руб.`, 10, i*10);
        doc.text(`${this.$options.filters.splitNumber(city.expenses.filter((el) => el.payment_method.is_cash === 0).filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0))} руб.`, 60, i*10);
        doc.text(`${this.$options.filters.splitNumber(city.expenses.filter(el => !el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0))} руб.`, 110, i*10);
        if (city.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0) > 0) {
          doc.text(`${this.$options.filters.splitNumber(city.expenses.filter(el => !!el.payment_type.is_return).reduce((acc, el) => acc + el.value, 0))} руб.`, 160, i*10);
        }
        i++;
        if(i > pageHeight/10) {
          doc.addPage();
          i = 1;
        }
        doc.line(10, i*10 - 3.5, 200, i*10 - 3.5);
        i++;
      }
      doc.save(`${this.CURRENT_DATE}.pdf`);
    },
    moment(value) {
      return moment(value);
    },
    async logout() {
      await axios.post(`/logout`);
      location.href = "/login-vue";
    },
    async getCities() {
      const res = await axios.get(`/api/cities`, {
        withCredentials: true,
      });
      this.items = res.data.data;
    },
  },
};
</script>

<style>
.bc-transparent fieldset,
.bc-transparent fieldset {
  border-color: transparent !important;
}
.custom-app-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.custom-app-nav__avatar {
  max-width: 48px;
  width: 100%;
}
.custom-app-nav__tabs {
  width: 100%;
  max-width: calc(100% - 696px);
}
  @media screen and (max-width: 1264px) {
.custom-app-nav__tabs {
  max-width: 600px;
}
  }
  @media screen and (max-width: 767px) {
.custom-app-nav__tabs {
  max-width: 100%;
}
.v-app-bar, .v-toolbar__content{
  height: unset !important;
}
.v-main {
  padding-top: 152px !important;
}
  }
  @media screen and (max-width: 435px) {
.v-main {
  padding-top: 190px !important;
}
  }
.custom-app-nav__date {
  /* max-width: 248px;
  width: 100%; */
  margin-left: auto;
}
</style>
